.footer {
  background-color: rgb(7, 7, 7);
  height: 375px;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list ul {
  color: #757575;
  list-style: none;
  margin: 0px 40px;
}

.list li {
  margin-bottom: 20px;
  font-size: 12px;
}

.list-n li {
  color: #757575;
  list-style: none;
  font-size: 12px;
  margin: 0px 40px;
  margin-bottom: 20px;
}

.list-n ul {
  margin-top: 35px;
}

.footer p {
  color: #757575;
  text-indent: 188px;
  padding: 60px;
  margin-bottom: -60px;
}

.netflix {
  margin-top: -50px;
  margin-left: 2px;
}
